.container {
    text-align: center;
    font-family: Arial, sans-serif;
  }

  .avatar {
    height: 400px;
    width: 300px;
    border-radius: 50%;
}
  
  .info {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
    line-height: 1.6;
  }
  